.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .users {
    margin: 0 0 0em 0;
    list-style-type: none;
    background-color: 	rgb(134, 109, 132);
    
   
    overflow: scroll;
    
    border: none;
    padding: 0px;
  
    width: 220px;
    height: 310px;
  }
  .users li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color:  rgb(134, 109, 132);
    margin: .3em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    text-decoration-style: solid;
    text-align: left;
  }
  .users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
 
  button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    
    border: 2px solid #664f4f;
    background-color: #c9bdbd;
    border-radius: 5px;
    
    padding: 9px;
    margin: 10px 0;
    min-width: 900px;
    top:0px;
  }
  .example-normal-width {
    float: right;
    border: 2px solid #64df12;
    background-color: #e3dfeb;
    border-radius: 5px;
    padding: 8px;
    margin: 10px 0;
    min-width: 250px;
  }
 
.container {
 border-left: 50%;
  width: 60%;
 
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.textbox-pos {
  position: absolute;
  right: 110px;
top: 580px;
  color: rgba(70, 9, 33, 0.904);
 
  height: 0%;
  width: 80%;
}

span {
  content: "\002B";
}

div.relative {
    position: relative;
    left: 200px;
    border: 3px solid rgb(173, 33, 75);
}
.mat-dialog {
    position: absolute;
    left: 500px;
    top: 70px;
    width: 20%;
    height: 40%;
    border: 3px solid rgb(173, 33, 75);
  }
  
  md-dialog {
    max-width: 90%;
    max-height: 90%;
  }

  